<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= title%>
    </h1>
    <%= userInfo.name %>님!
        성별은 <%= userInfo.F%>, 생년월일은 <%= userInfo.birthday_year%>년 <%= userInfo.birthday_month%>월 <%=
                        userInfo.birthday_day%>일
                        취미는 <%= userInfo.favorite %>
                            좋아하는 컬러는 <%= userInfo.color %>
                                좋아하는 숫자는 <%= userInfo.number %>
</body>

</html>